<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>uk.co.omzig.pingsummary_webapp</string>
    <key>UserName</key>
    <string>pingsumm</string>
    <key>GroupName</key>
    <string>pingsumm</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/pingsummary/startenv</string>
        <string>/usr/local/pingsummary/startwebapp.sh</string>
    </array>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
